body {
    background-color: #37474f;
}
#slide-out{
    margin-top: 0px;
}
.container {
    margin: 0;
}

i.icon-light {
    color: #ffffff;
}
.edit{
    margin: 1em 0em 0em -0.25em;
    
}
#acctInfoCont{
    width: 100%;
    margin: 0;
}
#passCollapse{
    border:none!important;
}
#passCollapse-header{
    border:none!important;
}
#passCollapse-body{
    border:none!important;
}

.acctField{
    width: 100%;
    margin-bottom: 0;
}

#accountPanel{
    padding: 0.5em 0.75em 0.5em 0.75em!important;
}

#acctInfoCont{
    padding: 0.5em 0.5em 0.5em 0.5em!important;
}
#main-content{
    width: 95%;
    margin: auto;
}

#toggler{
    display: inline;
    font-size: 2em !important;
    margin: 0px 0px 0px 20px;
}

#side-toggler{
    display: inline;
    font-size: 2em !important;
    margin: 0px 0px 0px 20px;
}

#side-logo{
    font-size: 1.75em;
    padding: 0px 10px 0px 35px
    
}

#form-modal-content {
    text-align:center !important;
}

#form-modal-footer {
    text-align:center !important;
}

.background{
    height: 150px !important;
    padding: 25px 0px 0px 20px;
    
}

#sideUser{
    height: 150px !important;
    
}

.user-view{
    padding-bottom: 15px !important;
}

#sideNavTitle{
    height: 64px;
}

#sideEmail{
    margin-bottom: 15px !important;
}

@media only screen and (max-width: 600px) {
    #sideNavTitle{
        height: 56px;
    }
  }