body {
    background-color: #37474f;
}

#main-content{
    width: 95%;
    margin: auto;
}

.container {
    margin: 0;
}

#toggler{
    display: inline;
    font-size: 2em !important;
    margin: 0px 0px 0px 20px;
}

/* SIDE NAV */

#slide-out{
    margin-top: 0px;
}

#side-toggler{
    display: inline;
    font-size: 2em !important;
    margin: 0px 0px 0px 20px;
}

#side-logo{
    font-size: 1.75em;
    padding: 0px 10px 0px 35px
    
}

#sideNavTitle{
    height: 64px;
}

.user-view{
    padding-bottom: 15px !important;
}

.background{
    height: 150px !important;
    padding: 25px 0px 0px 20px;
    
}

#sideUser{
    height: 150px !important;
    
}

#sideEmail{
    margin-bottom: 15px !important;
}

/*MODAL*/

#form-modal-content {
    text-align:center !important;
}

#form-modal-footer {
    text-align:center !important;
}

/*ACCOUNT PAGE*/

#accountPanel{
    padding: 0.5em 0.75em 0.5em 0.75em!important;
}

#acctInfoCont{
    width: 100%;
    margin: 0;
}

i.icon-light {
    color: #ffffff;
}
.edit{
    margin: 1em 0em 0em -0.25em;
    
}

#passCollapse{
    border:none!important;
}
#passCollapse-header{
    border:none!important;
}
#passCollapse-body{
    border:none!important;
}

.acctField{
    width: 100%;
    margin-bottom: 0;
}

#addNewPass{
    width: 40px!important;
    margin: 0!important;
}

#acctInfoCont{
    padding: 0.5em 0.5em 0.5em 0.5em!important;
}

/*MESSENGER*/

#messengerContent{
    height: 60vh;
}

#sendMessage{
    margin: auto;
}

#messengerContent{
    height: 60vh;
}

#convoPanel{
    height: 51.5vh;
    overflow-wrap: break-word;
    overflow: scroll;
}

.sentMessage{
    width: 70%;
    margin: 0 0 0 20%;
    text-align: right;
}

.receivedMessage{
    width: 70%;
    margin: 0 20% 0 0;
    text-align: left;
}

#convoContainer{
    height: 30vh;
    overflow: scroll;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 600px) {

    #sideNavTitle{
        height: 56px;
    }

  }