body {
    background-color: #37474f;
}

#main-content{
    width: 95%;
    margin: auto;
}

.container {
    margin: 0;
}

#toggler{
    display: inline;
    font-size: 2em !important;
    margin: 0px 0px 0px 20px;
}

/* SIDE NAV */

#slide-out{
    margin-top: 0px;
}

#side-toggler{
    display: inline;
    font-size: 2em !important;
    margin: 0px 0px 0px 20px;
}

#side-logo{
    font-size: 1.75em;
    padding: 0px 10px 0px 35px
    
}

#sidebarlogo{
    padding-top: 5px;
}

#sideNavTitle{
    height: 64px;
}

.user-view{
    padding-bottom: 15px !important;
}

.background{
    height: 150px !important;
    padding: 25px 0px 0px 20px;
    
}

#sideUser{
    height: 150px !important;
    
}

#sideEmail{
    margin-bottom: 15px !important;
}

/*MODAL*/

#form-modal-content {
    text-align:center !important;
}

#form-modal-footer {
    text-align:center !important;
}

/*ACCOUNT PAGE*/

#accountPanel{
    padding: 0.5em 0.75em 0.5em 0.75em!important;
}

#acctInfoCont{
    width: 100%;
    margin: 0;
}

i.icon-light {
    color: #ffffff;
}
.edit{
    margin: 1em 0em 0em -0.25em;
    
}

/* #passInput1Col1{
    padding: 0!important;
} */

#passCollapse{
    border:none!important;
    
}
#passCollapse-header{
    border:none!important;
    padding: none;
    margin: none;
}
#passCollapse-body{
    border:none!important;
    padding: none;
    margin: none;
}

.acctField{
    width: 95%;
    margin-bottom: 0;
    
}

#addNewPass{
    width: 40px!important;
    margin: 0!important;
}

#addanewpassword{
    margin: 0!important;
}

#nameIcon{
    margin-top: 1.75em!important;
}

#inputFName{
    padding-left: 1em;
}

#addanewpasswordCol{
    
    padding: 0!important;
}

#acctInfoCont{
    padding: 0.5em 0.5em 0.5em 0.5em!important;
}

/*MESSENGER*/

#messengerContent{
    height: 60vh;
}

#sendMessage{
    margin: auto;
}

#messengerContent{
    height: 60vh;
}

#convoPanel{
    height: 51.5vh;
    overflow-wrap: break-word;
    overflow: scroll;
}

#conversations{
    height: 51.5vh;
    overflow-wrap: break-word;
    overflow: scroll;
}

.sentMessage{
    width: 70%;
    margin: 0 0 0 20%;
    text-align: right;
}

.receivedMessage{
    width: 70%;
    margin: 0 20% 0 0;
    text-align: left;
}

#convoContainer{
    height: 30vh;
    overflow: scroll;
}

.autocomplete-items{
    border: solid;
    border-width: 0px 1px 1px 1px;
    position: absolute;
    z-index: 99;
    width:17em;
    left: 3em;
    background-color: #fafafa;
    overflow: show;
}
.autocomplete-item{
    border: solid;
    border-width: 1px 0px 0px 0px;
    padding: 1em 1em 1em 1em;
    margin:0;

}
.autocomplete-item-row{
    margin: 0;
}

.autocomplete-item:hover {
    background-color: #e9e9e9; 
    transform: scale(1.05);
  }

.autocomplete-item-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
    transform: scale(1.05);
  }

.autocomplete-item-name{
    font-size: 1em;
}
.autocomplete-item-email{
    font-size: 0.75em;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 600px) {

    #sideNavTitle{
        height: 56px;
    }

  }